@import url('http://www.fontsaddict.com/fontface/magic-school-one.ttf');
@import url('https://allfont.net/allfont.css?fonts=lumos');

* {
    padding: 0;
    margin: 0;
}


/* @font-face {
    font-family: 'Harry Potter';
    src: url('http://www.fontsaddict.com/fontface/harry-potter.TTF');
  } */

  /* @font-face {
    font-family: 'Harry Potter Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Harry Potter Regular'), url('HARRP___.woff') format('woff');
    } */
body {
   
      font-family: 'Harry P';
    letter-spacing: 2px;
    overflow-x: hidden;
    /* font-family: 'Lumos', arial; */
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }
  
  @media screen and (max-width: 675px) { /* Specific to this particular image */
    img.bg {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }

.container {
    margin: 8rem;
    position: relative;
    color: #ffffff;
    font-size: 14rem;
    line-height: 0.9;
    text-align: center;

}
.enter-text {
    font-size: 5rem;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 120%;
    left: 30%;
}

#ip{
    /* margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    background: transparent;
    color: white; */
    position: absolute;
    top:140%;
    left: 5%;
    background:transparent;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    font-size:3rem;
    width: 80%;
    height: 30%;
    font-family: 'Harry P';
}

#txt::placeholder {
    font-size: 3rem;
    color: black;
}

.translate-btn {
    font-family: 'Harry P';
    font-size: 2rem;
    padding:1rem  2rem;
    background-color: blue;
    color: whitesmoke;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    margin: 2rem 1rem;
    align-items: center;
    position: absolute;
    left: 45%;
    top:180%;
}

#op {
    position: absolute;
    top:220%;
    left: 5%;
    background:transparent;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    font-size:3rem;
    width: 80%;
    height: 30%;
    font-family: 'Harry P';
}
.serp-title {
    font-size: 5rem;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 200%;
    left: 20%;
}
/* .about {
    background-color: transparent;
    position: relative;
    top: 0;
    left: 0;
} */

.about-header {
    position: relative;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding:1em;
    left: 50%;
}

.about-content {
    position: absolute;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin:0rem 2rem;
    left:40%;
}
@media screen and (max-width : 412px) {
    html {
        font-size:62.5%;
        /* width: 100vw; */
    }
    
    
    .about-header {
        display: flex;
        justify-content: center;
        position: relative;
        left: 5%;
        
        
    }

    .about-content {
        left:3%;
    }

    .enter-text {
        left:7%;
    }

    #ip {
        width: 75vw;
        left: 2%;
    }

    .translate-btn {
        left:35%;
    }

    #op {
        margin:5rem 0rem;
    }


}


@media (min-width : 454px) and (max-width : 1026px) {
     html {
        font-size: 62.5%;
    } 

    .about-header {
        position: relative;
        left: 5%;
       
    }

    

}      